@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
span {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', monospace;
}

body {
	overflow: hidden;
}